.dataGrid-header {
  background-color: rgb(23, 182, 235) !important;
  color: white;
  font-family: "Arimo";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
}

.dataGrid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

.materialIcon {
  font-size: 5rem;
}

/* Invoice */

.invoiceImage {
  width: 80%;
  height: 100%;
}

.addPadding {
  padding-bottom: 1rem;
}

.invoice-form {
  padding: 2rem;
}
