.dataGrid-header {
  background-color: rgb(23, 182, 235) !important;
  color: white;
  font-family: "Arimo";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
}

.dataGrid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.materialIcon {
  font-size: 5rem;
}

/* Invoice */

.invoiceImage {
  width: 80%;
  height: 100%;
}

.addPadding {
  padding-bottom: 1rem;
}

.invoice-form {
  padding: 2rem;
}

.sub-container {
  padding: 2rem;
}

.profile-card-2 {
  border-radius: 15.62px;
  border: 0.92px solid #9b9999;
  box-shadow: 0px 2px 5px 0px #0000001a, 0px 10px 10px 0px #00000017,
    0px 21px 13px 0px #0000000d, 0px 38px 15px 0px #00000003,
    0px 60px 17px 0px #00000000;
  padding: 1rem;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
  margin-right: 1rem !important;
  width: 80%;
}

.profile-card2-heading {
  font-family: "Vollkorn" !important;
  color: #31baf4;
  font-size: 110%;
  font-weight: 700 !important;
  text-align: center;
}

.profile-card-1-heading {
  font-family: "Arimo" !important;
  font-size: 85% !important;
  font-weight: 700 !important;
  text-align: center;
}

.profile-card-1-text {
  font-family: "Arimo" !important;
  font-size: 85% !important;
  font-weight: 400;
  text-align: center;
}

.profile-card-1 {
  width: 60%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 0.77px solid #c8c8c8;
  box-shadow: 0px 4.64px 10.04px 0px #0000001a,
    0px 17.77px 17.77px 0px #00000017, 0px 40.18px 23.95px 0px #0000000d,
    0px 71.08px 28.59px 0px #00000003, 0px 111.25px 30.9px 0px #00000000 !important;
  border-radius: 13.91px !important;
  margin-left: 2rem;
  margin-top: 1rem;
}

.profile-picture {
  border-radius: 56.63px;
  border: 0.57px solid #828282;
  width: 40%;
  height: 40%;
  margin-bottom: 1rem;
}

.change-password {
  font-family: "Arimo" !important;
  font-size: 120% !important;
  font-weight: 700 !important;
  text-align: center;
  color: #268e3e;
  width: 75%;
  margin-top: 3.2rem !important;
  cursor: pointer;
}
