.invoice-heading {
  font-family: "Arimo" !important;
  font-size: 100% !important;
  font-weight: 700 !important;
  line-height: 16.1px;
}

.invoice-subtext {
  font-family: "Arimo";
  font-size: 70% !important;
  color: #838383;
  font-weight: 400;
  text-align: left;
}

.invoice-subtext-label {
  font-family: "Arimo";
  font-size: 75% !important;
  font-weight: 400;
  text-align: right;
  color: #000000;
}

.invoiceImage {
  width: 90%;
}

.invoice-button {
  color: #415abe;
}

.no-invoice-text {
  font-family: "Arimo" !important;
  font-size: 160% !important;
  font-weight: 700 !important;
  text-align: center;
  color: #a9a9a9;
  text-align: center;
}

.invoce-grid-2 {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 1.5rem;
  margin-top: 1rem;
  background: #f5f6f8 !important;
}

.table-heading {
  font-family: "Arimo" !important;
  font-size: 85% !important;
  font-weight: 700 !important;
  border-bottom: 1px solid #cacaca;
  background: #e8e8e8;
  padding: 2%;
  color: black;
}

.download-grid {
  padding: 1.5rem;
  margin-top: 1rem;
}

.table-editable-row {
  padding: 2%;
  font-family: "Arimo" !important;
  font-size: 80% !important;
  font-weight: 400 !important;
}

.table-border {
  border: 1px solid #cacaca;
  border-radius: 5px;
  /* padding-left: 1%;
  padding-right: 1%; */
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.table2-heading {
  font-family: "Arimo" !important;
  font-size: 90% !important;
  font-weight: 700 !important;
  line-height: 13.8px;
  border: 1px solid #cacaca;
  padding: 2%;
  margin-top: 2% !important;
}

.table-companyName {
  font-family: "Arimo" !important;
  font-size: 80% !important;
  font-weight: 500 !important;
  line-height: 11.5px;
}

.table2-data {
  font-family: "Arimo" !important;
  font-size: 75% !important;
  font-weight: 400 !important;
  line-height: 11.5px;
}

.bottomText-1 {
  font-family: "Arimo" !important;
  font-size: 77% !important;
  font-weight: 400 !important;
  text-align: left;
  color: #9b9b9b;
}

.total-border {
  border-top: 1px solid #cdcdcd;
  padding-top: 1%;
  margin-top: 2% !important;
}

.bottomText-2 {
  font-family: "Arimo" !important;
  font-size: 77% !important;
  font-weight: 400 !important;
}

.table2-border {
  border-bottom: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  padding: 4%;
  margin-bottom: 3% !important;
}

.class-prashant {
  font-family: "Arimo" !important;
  font-size: 75% !important;
  font-weight: 700 !important;
  line-height: 11.5px;
  text-align: center;
  color: black;
}

.signature-space {
  font-family: "Arimo" !important;
  font-size: 90% !important;
  font-weight: 700 !important;
  line-height: 20.7px;
  text-align: center;
  padding: 3rem;
  margin-top: 1rem !important;
  border: 1px solid #cccccc;
  border-radius: 6px;
}
