.accordion {
  border-bottom: 1px solid #b2aaaa;
}

.accordion-container {
  height: 60vh;
}
.accordion:before {
  display: none;
}
.accordion-summary {
  font-family: "Arimo", sans-serif !important;
  padding: 1rem;
}
.accordion-summary.Mui-expanded {
  background-color: #f5f5f5;
}
.accordion-details {
  padding: 1rem;
  font-family: "Arimo", sans-serif !important;
}
.summary-content.Mui-expanded {
  color: rgba(83, 89, 231, 0.77);
}
