.avatarLogo {
  height: 50%;
  width: 30%;
}

.logo-grid {
  min-height: 8vh;
}

.sidebar-grid {
  padding: 5%;
  height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 9px 19px 0px #0000000f, 0px 35px 35px 0px #0000000f,
    0px 78px 47px 0px #00000008, 0px 139px 56px 0px #00000003,
    0px 218px 61px 0px #00000000;
}

.sidebar-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sidebar-button-grid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sidebar-text {
  font-family: "Vollkorn" !important;
  font-size: 1.2rem;
  font-weight: 400;
}

.logout {
  color: #cb0202;
  font-family: "Arimo";
  font-size: 1.2rem;
  font-weight: 400;
}

.sidebar-section-1 {
  min-height: 30vh;
}

.sidebar-section-2 {
  min-height: 20vh;
}
