.screenHeading {
  color: #84868a;
  font-family: "Arimo" !important;
  padding: 1rem;
}

.infoContainer {
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 16px !important;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.invoiceImage {
  width: 70vh !important;
  height: 65vh !important;
}

.addPadding {
  padding-bottom: 1rem;
}
