.center-text {
  margin-top: 6% !important;
  margin-bottom: 6% !important;
}

.center-text-mobile {
  margin-top: 12% !important;
  margin-bottom: 10% !important;
}

.title {
  font-family: "Vollkorn", serif !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
}

.subtitle {
  font-family: "Arimo", sans-serif !important;
  font-size: 1.1rem !important;
  padding-top: 1rem;
}

.centered-text-image {
  /* height: 50%; */
  width: 98%;
  display: flex;
  margin: auto;
}
