.center-text {
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.title {
  font-family: "Vollkorn", serif !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

.subtitle {
  font-family: "Vollkorn", serif !important;
  font-weight: 600 !important;
  font-size: 1.7rem !important;
}
