.vollkorn-heading {
  font-family: "Vollkorn", serif !important;
  font-weight: 500;
  font-size: 50px !important;
  line-height: 34.5px;
  color: rgba(83, 89, 231, 0.77);
}

.flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.main-container-landing {
  padding-left: 159px !important;
  height: 100vh;
  /* align-items: center; */
}

.item-grid {
  padding-left: 15px;
  padding-right: 15px;
}

.monsterrat-subheading-paragraph {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  width: 80%;
  line-height: 1.8 !important;
  padding-bottom: 6px;
}

.home-image img {
  width: 70%;
  height: auto;
}

.navGrid {
  display: flex;
}

.navBar {
  background-color: #fff !important;
  box-shadow: none !important;
}
.navButtons {
  font-family: "Arimo", sans-serif;
  font-weight: 300;
  font-size: 18px !important;
  padding-top: 10px !important;
  padding-left: 12px !important;
  color: black !important;
}

.navButtons:hover {
  color: rgba(83, 89, 231, 0.77) !important;
}

.navList {
  display: flex;
  list-style-type: none;
  padding-right: 4px;
  padding-left: 4px;
}
.navButtons:active {
  color: rgba(83, 89, 231, 0.77) !important;
}

.navLogo-text {
  font-family: "Arimo", sans-serif !important;
  font-weight: 500 !important;
  font-size: 27px !important;
  color: rgba(29, 197, 226, 0.77) !important;
}

.aboutSection2 {
  height: 100%;
}
