.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e1f9fe;
  box-shadow: 4px 10px 14.5px 0px #6fdbf529;
}

.container {
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(180deg, #0ddbff 0%, #2c84f5 70.5%, #4344ed 100%);
  box-shadow: 4px 10px 14.5px 0px #6fdbf529;
}

.image-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: none;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43vh;
  height: 43vh;
  border-radius: 50%;
  background-color: #0cdaff;
  box-shadow: 5.77px 7.42px 8.74px 0px #13697978;
}

.arimo-input-label {
  font-family: "Arimo", sans-serif !important;
  margin-top: 1rem;
  font-weight: 550;
  font-size: 2.5vh;
}

.vollkorn-hello {
  font-family: "Vollkorn", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: center;
  color: white;
}
.vollkorn-scrutiny {
  font-family: "Vollkorn", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 41.4px;
  text-align: center;
  color: white;
}

.vollkorn-body {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3vh;
  text-align: center;
  color: white;
  /* text-justify: inter-word; */
}

/* form section */

.card-form {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10% !important;
  border-bottom-left-radius: 10% !important;
  height: 100%;
  position: relative;
}

.vollkorn-Login {
  font-family: "Vollkorn", serif !important;
  font-weight: 700 !important;
  font-style: normal;
  font-size: 4.5vh !important;
  text-align: center;
}

.logo-image {
  width: 10vh !important;
  position: absolute;
  right: 1vh;
  top: 1vh;
}

.cardAction-link {
  text-decoration: none;
  font-weight: bold;
  color: #0cdaff;
  cursor: pointer;
}

.cardAction-container {
  font-size: 2vh;
}

.helperText {
  color: #175f93 !important;
  font-size: 1.5vh !important;
  cursor: pointer;
}

.flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waitingScreen-title {
  font-family: "Arimo";
  font-weight: 600 !important;

  text-align: center;
  color: black;
}

.waitingScreen-text {
  font-family: "Arimo";
  font-size: 20px !important;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: #00000080;
}

.waitingScreen-image {
  width: 660.91px;
  height: 380px;
}
