  .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E1F9FE;
    box-shadow: 4px 10px 14.5px 0px #6FDBF529;
  }

  .container{
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    background: linear-gradient(180deg, #0DDBFF 0%, #2C84F5 70.5%, #4344ED 100%);
    box-shadow: 4px 10px 14.5px 0px #6FDBF529;

  }


  .grid-image{
    justify-content: center;
    align-items: center;
  }

  .image-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
  }
  
  .arimo-input-label {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    color: black;
  }

  .vollkorn-hello {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-size:4vh;
    /* text-align: center; */
    
  }
  .vollkorn-scrutiny {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
    font-size:6vh;
    /* text-align: center; */

  }
  .vollkorn-Login{
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    font-size:5vh;
    text-align: center;

  }
  .vollkorn-body {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size:3vh;
    text-align: center;
    /* text-justify: inter-word; */

  }

  